<div class="project-card">
  <div class="project-image">
    <img src="<%= project.image %>" alt="<%= project.title %>">
  </div>
  <div class="project-title"><%= project.title %></div>
  <div class="project-description"><%= project.description %></div>
</div> 